.app-navigation {
  font-size: 12px;
  position:absolute;
  width:100vw;
  top:0;
  left:0;
  z-index: 999;

  ul.app-navigation-menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    li {
      padding: 5px 10px;
      text-transform: uppercase;
      border: 1px solid rgba(0, 0, 0, 0);
      cursor: pointer;
      -webkit-transition: border 0.3s ease-out;
      -moz-transition: border 0.3s ease-out;
      -ms-transition: border 0.3s ease-out;
      -o-transition: border 0.3s ease-out;
      transition: border 0.3s ease-out;

      &:not(.app-logo):hover {
        border: 1px solid black;

        a {
          animation: FadeIn 0.6s 1 forwards;
        }
      }
    }
  }

  .app-sideMenu {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-flow: nowrap column;
      align-content: space-around;

      li {
        margin: 10px;
        padding: 10px;
        text-align: center;

        a {
          text-transform: uppercase;
          color: white;
        }
      }

      li:last-child {
        a {
          font-size:10px;
          letter-spacing: 2px;
          color: #999;
        }
      }
    }
  }

  .app-logo:hover {
    animation: bumpUp 0.3s 1 forwards;
  }

}

@keyframes FadeIn {
  0% {
    //transform: translate(-100px,-100px);
    background-color: #000;
    color: #fff;
  }
  100% {
    //background-color: rgba(255,255,255,0);
    color: #000;
  }
}


@keyframes bumpUp {
  0% {
    transform-origin: 50% 50%;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}