.app-sideNav {
  position: fixed;
  top: 12%;
  right:0;
  z-index: 9999;

  ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;

    li {
      width: 50px;
      height: 50px;
      background-color: #E50000;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-content: center;
      align-items: baseline;
      color: white;
      cursor: pointer;
      transition: all 0.2s ease-out;

      //&:not(:last-child) {
      //  border-bottom: 1px solid white;
      //}

      h1 {
        font-size:rem-calc(32px);
      }

      span {
        transition: all 0.2s ease-out;
        transform: translateX(10px);
        visibility: hidden;
        display: block;
        opacity: 0;
        width:0;
      }

      &:hover {
        background-color: black;
        width: 100px;
        justify-content: flex-start;
        align-items: baseline;

        h1 {
          padding-left: 10px;
        }

        span {
          width:auto;
          visibility: visible;
          padding-left:5px;
          transform: translateX(0px);
          letter-spacing: 1px;
          opacity: 1;
        }

      }

    }
  }

}