@include breakpoint(small) {
  @for $i from 0 through 20 {
    .mt-#{($i*5)} {
      margin-top: #{$i*5}px !important;
    }
    .mb-#{($i*5)} {
      margin-bottom: #{$i*5}px !important;
    }
    .small-mt-#{($i*5)} {
      margin-top: #{$i*5}px !important;
    }
    .small-mb-#{($i*5)} {
      margin-bottom: #{$i*5}px !important;
    }
    .pt-#{($i*5)} {
      padding-top: #{$i*5}px !important;
    }
    .pb-#{($i*5)} {
      padding-bottom: #{$i*5}px !important;
    }
    .small-pt-#{($i*5)} {
      padding-top: #{$i*5}px !important;
    }
    .small-pb-#{($i*5)} {
      padding-bottom: #{$i*5}px !important;
    }
  }
}

@include breakpoint(medium) {
  @for $i from 0 through 20 {
    .medium-mt-#{($i*5)} {
      margin-top: #{$i*5}px !important;
    }
    .medium-mb-#{($i*5)} {
      margin-bottom: #{$i*5}px !important;
    }
    .medium-pt-#{($i*5)} {
      padding-top: #{$i*5}px !important;
    }
    .medium-pb-#{($i*5)} {
      padding-bottom: #{$i*5}px !important;
    }
  }
}

@include breakpoint(large) {
  @for $i from 0 through 20 {
    .large-mt-#{($i*5)} {
      margin-top: #{$i*5}px !important;
    }
    .large-mb-#{($i*5)} {
      margin-bottom: #{$i*5}px !important;
    }
    .large-pt-#{($i*5)} {
      padding-top: #{$i*5}px !important;
    }
    .large-pb-#{($i*5)} {
      padding-bottom: #{$i*5}px !important;
    }
  }
}

