@include breakpoint(small) {
  .app-block {
    position: relative;
    border-bottom: 0.5px dotted #DDD;
    padding-bottom:80px;

    &>h1 {
      text-align: center;
      padding:20px 0px;
    }

  }
}

@include breakpoint(medium) {
  .app-block {
    &>h1 {
      padding:80px 0px;
    }

  }
}

.app {
  transition: opacity 0.5s linear;
}