.app-banner {
  @extend .clearfix;
  overflow: hidden;
  width: 100%;

  canvas {
    position: absolute;
  }

  .app-avatar-bg {
    //border-radius: 10%;
    position: absolute;
    //left: 50%;
    //margin-left: -125px;
    //top: 150px;
    cursor: pointer;
  }

  svg {
    transform: translateZ(0);
    border-bottom: 3px solid black;
    polygon {
      transform: translateZ(0);
    }

    polygon:hover {

    }
  }

  .app-banner-line {
    margin-top: 720px;
  }

  .app-banner-name {
    color: white;
  }

}
